
<header>
  <a class="back__btn" routerLink="/login"> <i class="fas fa-arrow-left"></i> Go back </a>

</header>

<main>
  <div class="article__header" fxLayout.lt-md="column" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5%">
    <div fxFlex="50">
      <img src="https://placebear.com/720/450"/>

    </div>
    <div class="article__info">
      <div class="backdrop"></div>
      <p class="article__tag">Recommendations</p>
      <h1>Top Obscurify Picks - October
      </h1>
      <p>by Nirmal Patel</p>
      <p><span class="grey-text">October 7th, 2020</span></p>
      <p class="article__description">Our track picks from our most Obscure users for the month.</p>

      <div class="social__container" fxLayout="row" fxLayoutGap="1em">
        <a class="social__link">
          <i class="fab fa-twitter" aria-hidden="true"></i>
        </a>

        <a class="social__link">
          <i class="fab fa-facebook-f" aria-hidden="true"></i>
        </a>

        <a class="social__link">
          <i class="far fa-copy" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="article__body" fxLayout="row nowrap">
    <div class="article__social" fxFlex="10%">

    </div>
    <div class="article__content" fxFlex="70%">
      <h1 id="obscurify-top-picks-february-2021" _ngcontent-serverapp-c162="">Obscurify Top Picks: February 2021</h1>
      <p _ngcontent-serverapp-c162=""><span class="intro" _ngcontent-serverapp-c162="">We</span> got some hot ones for you this month.</p>
      <div _ngcontent-serverapp-c162="">
      <iframe src="https://open.spotify.com/embed/track/1SNiieXNyv5bRBbY9YAYVM" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" _ngcontent-serverapp-c162=""></iframe>
      </div>
      <span class="highlight" _ngcontent-serverapp-c162="">I mean it's just great stuff.</span>
    </div>

    <div class="article__extra" fxFlex="20%">

    </div>
  </div>


</main>
