
<header>
  <a class="back__btn" routerLink="/login"> <i class="fas fa-arrow-left"></i> Go back </a>

</header>

<main>
  <div class="article__header" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5%">
    <div fxFlex="50">
      <img src="https://placebear.com/720/450"/>

    </div>
    <div class="article__info">
      <div class="backdrop"></div>
      <p class="article__tag">Recommendations</p>
      <h1>Top Obscurify Picks - October
      </h1>
      <p>by Nirmal Patel</p>
      <p><span class="grey-text">October 7th, 2020</span></p>
      <p class="article__description">Our track picks from our most Obscure users for the month.</p>
    </div>
  </div>

  <div fxLayout="row nowrap">
    <div class="article__social" fxFlex="10%">

    </div>
    <div class="article__content" fxFlex="70%">

    </div>

    <div class="article__extra" fxFlex="20%">

    </div>
  </div>


</main>
