@import 'mixins';
@import 'variables';

.back__btn {
  padding: 1em 1em;
  background: #FFFFFF;
  border-radius: 5px;
  font-size: 16px;
  color: #000000;
  text-align: center;
  width: 175px;
  box-sizing: border-box;
  box-shadow: $box-shadow;
  font-family: $primary-font;
  text-decoration: none;
  font-weight: bold;
  display: block;

  i {
      margin-right: 5px;
  }
}
header {
  width: 100%;
  margin: 0 auto 1em;
}

main {
  max-width: 1440px;
  min-height: 720px;
  margin: 0 auto;
  padding: 0 1em;
  background-color: white;

  .spotlight__container{
      margin-bottom: 4em;
      padding: 1em;
  }

  .line-break {
      background: #A9E5AC;
      max-width: 600px;
      height: 5px;
      margin: 1em 0 3em;
  }

  .banner-container {
    margin: 1em 0;
    display: flex;
    justify-content: center;
  }

  &__container {
      max-width: 1280px;
      margin: 0px auto 42px;
      h1 {
          font-size: 36px;
          margin-bottom: 1rem;
      }
  }

  .spotlight-recent {
      h2 {
          margin-bottom: 1rem;
      }
  }

  .contribute {
    text-align: center;
    margin-top: 2em;
  }


}


@include desktop {
    h1 {
      font-size: 4em;
    }
}
