<div class="spotlight">

    <div class="banner-container">
        <!-- ObscurifyMusic_S2S_Leaderboard_ROS_ATF -->
        <div id="bsa-zone_1597164528738-4_123456"></div>
    </div>

    <div class="line-break"></div>

    <div class="spotlight__container">
        <h1>Obscurify Spotlight</h1>

        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="5%">
            <div fxFlex="50%">
              <app-big-card [post]="blogPosts[0]"></app-big-card>
            </div>

            <div fxFlex="45%">
                <div class="spotlight-recent" fxLayout="column">
                    <h2>Recent Posts</h2>
                    <div fxLayout.lt-md="row wrap" fxLayout="row" fxLayoutGap="2em">
                      <app-small-card [post]="blogPosts[1]"></app-small-card>
                      <app-small-card [post]="blogPosts[2]"></app-small-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
