@import 'mixins';

.spotlight {
    min-height: 100vh;
    background-color: white;
    padding: 0 1em 5em;

    .line-break {
        background: #A9E5AC;
        width: 200px;
        height: 5px;
        margin: 2em auto;
    }

    &__container {
        max-width: 1440px;
        margin: 0px auto 42px;

        h1 {
            font-size: 36px;
            margin-bottom: 1rem;
        }
    }

    .spotlight-recent {
        h2 {
            margin-bottom: 1rem;
        }
    }
}

@include desktop {
  .spotlight {
    &__container {
      h1 {
        font-size: 4em;
        margin-bottom: 2rem;
      }
    }
  }
}
