
<div fxLayout.gt-sm="row" fxLayout="column">

  <aside fxFlex="0 0 40%" fxLayoutAlign="start center" fxLayout="column nowrap" >
    <a class="back__btn" routerLink="/login"> <i class="fas fa-arrow-left"></i> Go back </a>
    <!-- ObscurifyMusic_S2S_Sidebar_ROS_Pos2 -->
    <div class="about__ad" id="bsa-zone_1597164756381-4_123456"></div>

  </aside>
  <main fxLayout="column">
    <section>
        <h1>
            About Obscurify
          </h1>
          <p>
            The goal of Obscurify is to help you better understand your own music taste. It uses
            Spotify's <a href="https://developer.spotify.com/web-api/">Web API</a> to display your listening history, define
            your top genres, and to recommend under-the-radar songs you might like.
          </p>
          <p>
            Obscurify can make playlists of the music in your track lists and place them in your Spotify library - including the historical snapshots
            that are saved when you log in to your Obscurify profile.
          </p>
          <p>
            You can share your Obscurify profile with your friends -
            just turn on sharing in the menu and send your unique generated link to show off your top tracks, artists,
            and of course your Obscurity rating.
          </p>
          <p>
            Obscurify is open source! Check out the code <a href="https://github.com/alexolivero/Obscurify">here.</a>
          </p>
    </section>

    <section>
        <div class="team">
            <h2>The Team</h2>
            <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="4em">
                <div fxLayout="column" fxLayoutAlign="center">
                    <img src="https://avatars.githubusercontent.com/u/11236592?s=460&u=d2d661e98d51559494079a71301417cf1bea5f3d&v=4" alt="Alex Olivero">
                    <h3>Alex Olivero</h3>
                    <p>Backend & Cloud</p>
                    <a href="mailto:oliveroalex@gmail.com">
                        <i class="fa fa-envelope fa-2x"></i>
                    </a>
                </div>
                <div fxLayout="column" fxLayoutAlign="center">
                    <img src="https://avatars.githubusercontent.com/u/17192239?s=400&u=7e79d9fe01f3825665dbb7349960723b4ad67939&v=4" alt="Nirmal Patel">
                    <h3>Nirmal Patel</h3>
                    <p>UI / UX</p>
                    <a href="mailto:npatel663@gmail.com">
                        <i class="fa fa-envelope fa-2x"></i>
                    </a>
                  </div>
              </div>
           </div>
    </section>

    <section>
        <h2>FAQ</h2>

        <h3>What is an Obscurity rating?</h3>
        <p>
          Our algorithm finds your Obscurity rating by comparing the global popularity of the artists in your Spotify history
          to the other Obscurify users in your country. A high Obscurity rating indicates that your music taste is more unique than
          most, while a low rating can mean your taste tends to be more popular or relateable.
        </p>

        <h3>Is it secure?</h3>
        <p>
          Obscurify adheres to all modern standards in web security. And as logging in to Obscurify is
          handled by Spotify, it's as secure as logging in to Spotify itself.
        </p>

        <h3>How is my data used?</h3>
        <p>
          To use Obscurify, you'll need to allow the app to have access to some of your account information -
          that being your Spotify user ID, the country your account is registered to, and a list of your top artists & tracks.
          Your data is only used to calculate an average with which users can compare their own scores.
        </p>

        <h3>Where does the artist and track ranking come from?</h3>
        <p>
        The content and order of your lists come directly from <a href="https://developer.spotify.com/web-api/">Spotify's API</a>.
        Popularity, genres, and musical traits are all determined by Spotify.
        </p>

        <h3>Why are there no (or few) results showing up in my lists?</h3>
        <p>
        If you listen in Private Mode, those songs won't show up in either list.
        If your account is new, it's normal for your All-Time list to be short,
        as it takes some time (one to two weeks) for Spotify to update their information.
        </p>

        <h3>I have some other issue (or concern, compliment, maybe a suggestion)</h3>
        <p>
          I'd like to know about it! <a href="mailto:oliveroalex@gmail.com">Send me an email!</a>
        </p>
    </section>
    <section>
        <h3>Credit</h3>
        <p>
          Background Photo on login page by MARK S. on Unsplash.
        </p>
    </section>
  </main>
</div>

<app-footer [login]="true" [spotlight]="true"></app-footer>
