footer {
    min-height: 100px;
    padding: 3em;
    background-color: rgba(0,0,0,0.8);
    color: white;
    bottom: 0;

    a {
        color: white;
        text-decoration: none;
        margin-bottom: 1em;
        cursor: pointer;

        &:hover, &:focus {
            text-decoration: underline;
        }
    }
}