<div class="artist">
    <div class="header">
        <h2 class="header__title">
            Top Artists
        </h2>
    </div>

    <div  class="artist__container" fxlayout="column" fxLayout.gt-sm="row">
        <div fxLayout="column">   
            <div class="artist__container__grid" fxFLex="100%" fxLayout.gt-xs="row wrap" fxLayout="column nowrap" fxLayoutGap="16px">
                <!-- <app-artist-card></app-artist-card>
                <app-artist-card></app-artist-card>
                <app-artist-card></app-artist-card>
                <app-artist-card></app-artist-card>
                <app-artist-card></app-artist-card>
                <app-artist-card></app-artist-card>
                <app-artist-card></app-artist-card>
                <app-artist-card></app-artist-card>
                <app-artist-card></app-artist-card>
                <app-artist-card></app-artist-card>
                <app-artist-card></app-artist-card> -->

                <app-artist-card [artist]="artist" [i]="i" *ngFor="let artist of allTimeArtist | slice:0:sliceLimit; let i = index"></app-artist-card>
            </div>

            <div fxLayoutAlign="center center">
                <button class="artist__button artist__button--primary">Show More</button>
            </div>
        </div>


        <div fxFlex.gt-sm="30%">
            <app-artist-nav></app-artist-nav>
        </div>
    </div>
</div>