@import 'mixins';
@import 'components/header';
@import 'variables';

.artist {
    max-width: 1024px;
    margin: 0 auto;
    margin: 20rem auto;

    .header__title {
        text-transform: capitalize;
    }

    &__container {
        margin-top: 2em;
    }

    &__container__grid {
        &::after {
            content: "";
            flex: auto;
          }
    }

    &__button {
        margin-top: 2em;
        background: #D8D8D8;
        border-radius: 23.5px;
        font-size: 16px;
        color: #090909;
        text-align: center;
        padding: 1em 2em;
        border: none;
        font-weight: bold;
        &:hover {
            border: none;
            cursor: pointer;
        }
    }
}

@include desktop {
    .artist {
        margin: 20rem auto;

    }
}