<div class="slate">
    <div class="sponsored">

        <div class="sponsored__container" fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="1em">
            <div fxFlex="50">
                <img src="../../../assets/images/app/spotiparel-logo-white.png" height="30px">
                <h1 class="tagline">Get songs like <br>{{trackName}}<br> on a sweatshirt</h1>
                <p>Your favorite songs printed as a scannable Spotify code onto comfy and lightweight sweatshirts perfect for the summer.</p>
            </div>
            <div fxFlex="50">
                <div class="sponsored__pictures" fxLayout="row nowrap">
                    <div class="sponsored__picture-card">
                        <img src="assets/images/spotiparel/picture-2.jpg" alt="Spotiparel Merch Picture">
                    </div>
                    <div class="sponsored__picture-card">
                        <img src="assets/images/spotiparel/picture-1.jpg" alt="Spotiparel Merch Picture">
                    </div>
                </div>
            </div>
        </div>
        <div>
            <a class="sponsored__btn" href="{{href}}" target="_blank">Shop now</a>
            <p class="disclaimer">To help support Obscurify, use this sponsored link to shop.</p>
        </div>

        
    </div>
</div>