@import 'components/header';
@import 'mixins';
@import 'variables';

:host {
  display: block;
}

.slate {
    background: #AD96DC;
    color: white;
    padding: 4rem 1em;
}

.sponsored {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  // opacity: 0;
  // transform: translateY(100px);
  // transition: .3s cubic-bezier(.25,.1,.25,1);
  align-items: flex-start;

  .tagline {
    margin-bottom: 0.5em;
  }

  &__container {
    width: 100%;
  }

  &__btn {
    background: #5C1C74;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1em;
    padding: 8px 1em;
    display: block;
    color: #FFFFFF;
    letter-spacing: 1.49px;
    text-align: center;
    text-decoration: none;
    width: 100px;
    font-weight: bold;
    border-radius: 5px;
  }

  .disclaimer {
    font-size: 12px;
  }

  &__picture-card {
    max-width: 120px;
    max-height: 120px;
    padding: 0.5em;
    background: white;
    margin: 1em 0.5em;
    position: relative;
  
    img {
      width: 100%;
    }

    &:first-child {
      transform: translate3d(0%, 0px, 0px) rotate(-15deg);
      z-index: 1;
    }

    &:last-child {
      transform: translate3d(0%, 0%, 0px) rotate(10deg);
    }
  }
}


@include gt-md {
  .sponsored {

    &__picture-card {
      position: absolute;
      max-width: 200px;
      max-height: 200px;

      &:first-child {
        transform: translate3d(25%, 0px, 0px) rotate(-15deg);
        z-index: 1;
      }

      &:last-child {
        transform: translate3d(100%, 0%, 0px) rotate(10deg);
      }
    }
  }
}
