<div class="slate">
    <div class="sponsored">

        <div class="mb-1" fxLayout="row" fxLayoutGap="1em">
            <div fxFlex="50">
                <img src="../../../assets/images/app/spotiparel-logo-white.png" height="30px">
                <h1 class="tagline">Get songs like {{allTimeTracks[0].name}} on a sweatshirt</h1>
                <p>Your favorite songs printed on a scannable Spotify code onto sweatshirts perfect for spring</p>
                <button>Shop now</button>
                <p class="disclaimer">Obscurify will earn a commission if you purchase from Spotiparel through this link.</p>
            </div>
            <div fxFlex="50">
                Images will go here
            </div>
        </div>

        
    </div>
</div>