<div class="slate">
    <div class="recommendations" [ngClass]="{'show': this.show}">
        <div class="header">
            <h2 class="header__title">
                Recommendations
            </h2>
        </div>
        <div class="recommendations__content">
            <div class="recommendations__container">
                <!-- <button id="filter-btn" class="filter-btn" (click)="toggleFilter()">
                  <i class="fas fa-sliders-h"></i>
                </button> -->
          
                <button id="add-playlist-btn" class="add-playlist-btn" (click)="makePlaylist(recommendedTracks, 'Recommended for You // Obscurify')">
                  <span>Create Playlist</span>
                  <i class="fas fa-plus-circle"></i>
                </button>
                <div class="track-container">
                  <div class="card-track">
                    <div class="card">
                      <div class="card-content">
                          <img item-start src="www.google.com">
                      </div>
                      <div class="card-info">
                        <a href="www.google.com">
                          <h3>
                            dont be afraid
                          </h3>
                          <p>
                            knxwledge
                          </p>
                        </a>
                      </div>
          
                    </div>
                    <div class="card">
                        <div class="card-content">
                            <img item-start src="www.google.com">
                        </div>
                        <div class="card-info">
                          <a href="www.google.com">
                            <h3>
                              dont be afraid
                            </h3>
                            <p>
                              knxwledge
                            </p>
                          </a>
                        </div>
            
                      </div>
          
                      <div class="card">
                        <div class="card-content">
                            <img item-start src="www.google.com">
                        </div>
                        <div class="card-info">
                          <a href="www.google.com">
                            <h3>
                              dont be afraid
                            </h3>
                            <p>
                              knxwledge
                            </p>
                          </a>
                        </div>
            
                      </div>
          
                      <div class="card">
                        <div class="card-content">
                            <img item-start src="www.google.com">
                        </div>
                        <div class="card-info">
                          <a href="www.google.com">
                            <h3>
                              dont be afraid
                            </h3>
                            <p>
                              knxwledge
                            </p>
                          </a>
                        </div>
            
                      </div>
          
                      <div class="card">
                        <div class="card-content">
                            <img item-start src="www.google.com">
                        </div>
                        <div class="card-info">
                          <a href="www.google.com">
                            <h3>
                              dont be afraid
                            </h3>
                            <p>
                              knxwledge
                            </p>
                          </a>
                        </div>
            
                      </div>
            
                      <div class="card">
                        <div class="card-content">
                            <img item-start src="www.google.com">
                        </div>
                        <div class="card-info">
                          <a href="www.google.com">
                            <h3>
                              dont be afraid
                            </h3>
                            <p>
                              knxwledge
                            </p>
                          </a>
                        </div>
            
                      </div>
          
                      <div class="card">
                        <div class="card-content">
                            <img item-start src="www.google.com">
                        </div>
                        <div class="card-info">
                          <a href="www.google.com">
                            <h3>
                              dont be afraid
                            </h3>
                            <p>
                              knxwledge
                            </p>
                          </a>
                        </div>
            
                      </div>
            
                      <div class="card">
                        <div class="card-content">
                            <img item-start src="www.google.com">
                        </div>
                        <div class="card-info">
                          <a href="www.google.com">
                            <h3>
                              dont be afraid
                            </h3>
                            <p>
                              knxwledge
                            </p>
                          </a>
                        </div>
            
                      </div>
            
                      <div class="card">
                        <div class="card-content">
                            <img item-start src="www.google.com">
                        </div>
                        <div class="card-info">
                          <a href="www.google.com">
                            <h3>
                              dont be afraid
                            </h3>
                            <p>
                              knxwledge
                            </p>
                          </a>
                        </div>
            
                      </div>
            
                      <div class="card">
                        <div class="card-content">
                            <img item-start src="www.google.com">
                        </div>
                        <div class="card-info">
                          <a href="www.google.com">
                            <h3>
                              dont be afraid
                            </h3>
                            <p>
                              knxwledge
                            </p>
                          </a>
                        </div>
            
                      </div>
            
                      <div class="card">
                        <div class="card-content">
                            <img item-start src="www.google.com">
                        </div>
                        <div class="card-info">
                          <a href="www.google.com">
                            <h3>
                              dont be afraid
                            </h3>
                            <p>
                              knxwledge
                            </p>
                          </a>
                        </div>
            
                      </div>
            
                      <div class="card">
                        <div class="card-content">
                            <img item-start src="www.google.com">
                        </div>
                        <div class="card-info">
                          <a href="www.google.com">
                            <h3>
                              dont be afraid
                            </h3>
                            <p>
                              knxwledge
                            </p>
                          </a>
                        </div>
            
                      </div>
            
                      <div class="card">
                        <div class="card-content">
                            <img item-start src="www.google.com">
                        </div>
                        <div class="card-info">
                          <a href="www.google.com">
                            <h3>
                              dont be afraid
                            </h3>
                            <p>
                              knxwledge
                            </p>
                          </a>
                        </div>
            
                      </div>
            
                      <div class="card">
                        <div class="card-content">
                            <img item-start src="www.google.com">
                        </div>
                        <div class="card-info">
                          <a href="www.google.com">
                            <h3>
                              dont be afraid
                            </h3>
                            <p>
                              knxwledge
                            </p>
                          </a>
                        </div>
            
                      </div>
                      
                      <div class="card">
                        <div class="card-content">
                            <img item-start src="www.google.com">
                        </div>
                        <div class="card-info">
                          <a href="www.google.com">
                            <h3>
                              dont be afraid
                            </h3>
                            <p>
                              knxwledge
                            </p>
                          </a>
                        </div>
            
                      </div>



                  </div>
                </div>
              </div>
        </div>


    </div>
</div>