

<div class="public__profile dark-theme">
  
  <header class="public__profile__container">
    <a class="back__btn" routerLink="/home"> <i class="fas fa-arrow-left"></i> Go back </a>

  </header>

  <main>
    <div class="public__profile__container ">
      <div class="mb-4" fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="2em" fxFlexAlign="center">

        <div class="profile__image">
          <img [src]="imageURL" alt="Profile Picture">
        </div>
  
        <div class="profile__header">
          <h1 class="mb-1">{{displayName}}'s Obscurify</h1>
          <p>
            Check out their stats below
          </p>
        </div>
      </div>
  
      <div class="mb-4 profile__obscure__block">
        <h1 class="profile__obscure__block__header">Obscurify Score</h1>
        <div fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="2rem" fxLayoutGap.gt-md="4rem" fxLayoutAlign="start center">
          <h1 class="obscure__score">
            {{obscurifyPercentile | number:'1.0-0' }}%
          </h1>
  
          <p>
            They’re more obscure than {{obscurifyPercentile | number:'1.0-0' }}% of {{country}} listeners.
          </p>
        </div>
      </div>
  
      <div class="mb-4 top__genres">
        <h1 class="mb-1">Top Genres</h1>
          <div fxLayout="row wrap" >
            <div class="genre__chip" *ngFor="let genre of genres">
              {{ genre[0] }}
            </div>
          </div>
      </div>
      <div class="tracks__artists">
        <h1 class="mb-1">Listening History</h1>
        
      </div>
    </div>

    <div *ngIf="longTermArtists && longTermArtists.length > 0">

      <app-artist-list
      color="dark"
      [data]="{
            allTimeArtists: longTermArtists,
            allTimeTracks: longTermTracks,
            userInfo: {id: userID},
            userHistory: userHistory
        }"
      ></app-artist-list>
    </div>

  </main>
</div>

<app-footer
    [login]="true"
    [spotlight]="true"
    [about]="true"
    [privacy]="true"
    >
</app-footer>


<app-loader *ngIf="!loaded"></app-loader>
