<main class="app" spyOn (loaded)="loadEvent($event)">

    <app-intro
        [data]="user"
        [hex]="hex"
        [isProfilePublic]="isProfilePublic"
        [error]="allTimeTracks?.allTimeTracks.length == 0 ? true : false">
    </app-intro>
    <div *ngIf="allTimeTracks && allTimeTracks.allTimeTracks.length > 0">
        <app-top-genres [data]="{topGenres: topGenres}"></app-top-genres>
        <app-obscurity-rating
            *ngIf="obscurifyInfo && user && allTimeArtists && currentArtists"
            (switchCountryEvent)="switchCountry($event)"
            [data]="{
                obscurifyInfo: obscurifyInfo,
                country: user.country,
                allTimeObscurifyScore: allTimeArtists.allTimeObscurifyScore,
                recentObscurifyScore: currentArtists.recentObscurifyScore,
                allTimeArtists: allTimeArtists.allTimeArtists,
                allTimeTracks: allTimeTracks.allTimeTracks,
                currentArtists: currentArtists.currentArtists,
                currentTracks: currentTracks.currentTracks,
                shortTermAudioFeatures: shortTermAudioFeatures,
                longTermAudioFeatures: longTermAudioFeatures,
                topGenres: topGenres
            }">
        </app-obscurity-rating>
        <app-artist-list
            [data]="{
                allTimeArtists: allTimeArtists.allTimeArtists,
                allTimeTracks: allTimeTracks.allTimeTracks,
                currentArtists: currentArtists.currentArtists,
                currentTracks: currentTracks.currentTracks,
                userInfo: user,
                userHistory: userHistory
            }">
        </app-artist-list>

        <app-moods-graph
            (audioData)="getUserHistory($event)"
            *ngIf="(shortTermAudioFeatures && longTermAudioFeatures && obscurifyInfo && user)"
            [data]="{
                audioFeatureAverages: obscurifyInfo.audioFeatureAverages,
                currentTracks: currentTracks.currentTracks,
                shortTermAudioFeaturesPerTrack: shortTermAudioFeaturesPerTrack,
                shortTermAudioFeatures: shortTermAudioFeatures,
                longTermAudioFeatures: longTermAudioFeatures,
                country: user.country
            }">
        </app-moods-graph>


    </div>

    <app-recommendations
    [data]="{
        allTimeArtistIDs: allTimeArtists?.allTimeArtistIDs,
        allTimeTrackIDs: allTimeTracks?.allTimeTrackIDs,
        currentArtistIDs: currentArtists?.currentArtistIDs,
        currentTrackIDs: currentTracks?.currentTrackIDs,
        userInfo: user
        }">
    </app-recommendations>

    <app-footer
        *ngIf="(obscurifyInfo && user && allTimeArtists && currentArtists)"
        [login]="false" 
        [spotlight]="true"
        [about]="true"
        [privacy]="true"
        >
    </app-footer>
</main>
