@import 'variables';
@import 'mixins';

.profile {
    width: 100%;
    padding: 140px 0;

    &__image {
        width: 200px;
        height: 200px;
        margin: 0 auto 2em;
        background: #e5e5e5;

        img {
            width: 100%;
            height: auto;
            border-radius: 50%;

        }
    }

    &__header {
        max-width: 600px;
        text-align: center;
        font-size: 2em;
    }
}


@include desktop {

    .profile {
        &__image {
            width: 300px;
            height: 300px;
        }

        &__header {
            font-size: 3em;
        }
    }
}