
<app-nav-menu *ngIf='data'></app-nav-menu>
<div class="banner-container" fxLayout="column" fxLayoutAlign="center center" >
  <!-- ObscurifyMusic_S2S_Leaderboard_ROS_ATF -->
  <div id="bsa-zone_1597164528738-4_123456"></div>
</div>

<div class="intro" *ngIf="data">
  <div class="welcome" fxLayout="column" fxLayoutAlign="center center">
    <h1>Welcome to <br /> Obscurify<span>.</span></h1>
</div>

<div *ngIf="!error">
    <div class="profile" fxLayout="column" fxLayoutAlign="center center">
        <h1 *ngIf="userName" class="profile__header mb-2">{{ greeting }}<span >{{ userName }}</span> {{ welcomeMessage }}</h1>
        <h1 *ngIf="!userName" class="profile__header mb-2"> {{ welcomeMessage }} </h1>
    </div>
</div>

<div *ngIf="error">
    <div class="profile" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="2em">
        <h1 class="profile__header">Looks like you haven't listened to music on Spotify enough to get a score.  Please try again later.</h1>
    </div>
</div>




<div class="arrow" fxLayout="row nowrap" fxLayoutAlign="center center">
  <i class="fas fa-chevron-down"></i>
</div>

</div>
