
<div class="slate">
    <div class="obscurity" [ngClass]="{'show': this.show}">

        <div class="header">
            <h2 class="header__title">
                Obscurity Rating
            </h2>
        </div>

        <div class="percentile">
            <div class="percentile__card">
                <h2>{{ this.percentileByCountryAllTime | number:'1.0-0' }}%</h2>

                <p>Your music is more obscure than <br>
                    <strong>{{ this.percentileByCountryAllTime | number:'1.0-0' }}%</strong>
                    of <strong>{{ this.data.obscurifyInfo.userCountByCountry | number:'1.0-0':'en'  }} {{ this.data.country }}</strong> users on Obscurify.
                </p>

                <p><strong>{{ this.data.obscurifyInfo.totalUserCount| number:'1.0-0':'en' }} </strong>Global Users</p>

                <div class="summary-container">
                    <button mat-raised-button (click)="openSummary()">Open Summary</button>

                </div>

                <div #tweetContainer class="twitter-container">

                </div>
            </div>
        </div>

        <div *ngIf="mostObscureArtists" class="most__obscure">
            <h2>Your most obscure artists</h2>
            <div *ngFor="let artist of mostObscureArtists" fxLayout="row" class="artist__container">
                <img *ngIf="artist.images.length > 1" [src]="artist.images[1].url " width="50px" height="50px"/>
                <a [href]="this.sanitizer.bypassSecurityTrustResourceUrl(artist.uri)">
                    {{artist.name}}
                </a>
            </div>
        </div>

        <div class="dark-theme" fxLayout="row" fxLayoutAlign="end center">
          <p>Switch country to</p>

          <mat-form-field color="primary" appearance="standard">
            <mat-select (selectionChange)='switchCountry($event.value)' panelClass="obscurity__rating__select">
              <mat-option *ngFor="let country of countryList" [value]="country.value">
                {{country.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <app-obscurity-graph [data]="{
            breakdown: data.obscurifyInfo.breakdown,
            userRecentScore: data.recentObscurifyScore,
            userAllTimeScore: data.allTimeObscurifyScore,
            percentileByCountryRecent: data.obscurifyInfo.percentileByCountryRecent,
            percentileByCountryAllTime: data.obscurifyInfo.percentileByCountryAllTime,
            country: data.country
        }">

        </app-obscurity-graph>

    </div>
</div>
