

    <div class="share__profile">
        <h3 class="mb-1">Share Your Profile</h3>

        <p class="mb-1">
            If you have profile sharing enabled, anyone that clicks your unique link
            can see your top tracks, artists, genres, and Obscurity rating.
        </p>

        <p class="mb-1">Below is the link to your public profile.  Share it with your friends!</p>

        <mat-form-field class="mb-1">
            <mat-label>Your unique link</mat-label>
            <input #field placeholder="Turn on sharing"  [disabled]="!userState.profileCode"[readonly]="true" type="text" matInput [value]="userProfileUrl">
        </mat-form-field>

        <div class="share__profile__toggle mb-1" fxLayout="column" fxLayout.gt-sm="row" >
            <mat-slide-toggle
                color="accent"
                [checked]="checked"
                (change)="toggleChange($event)">
                Share your profile
            </mat-slide-toggle>

            <button *ngIf="checked" mat-raised-button (click)="openSnackBarClipBoard()"color="primary" class="copy-btn" [cdkCopyToClipboard]="getProfileUrl()"><i class="fas fa-clipboard"></i> Copy Link </button>
        </div>



        <p class="share__profile--small-text" *ngIf="!checked">You aren't sharing your profile. Other users won't be able to see it.</p>
<!--
        <p>
            If you have profile sharing enabled, anyone that clicks your unique link
            can see:
        </p>
        <ul>
            <li>Top tracks & artists from Current & All-Time lists</li>
            <li>Obscurify rating</li>
            <li>Your first name and profile picture (from your Spotify account)</li>
        </ul> -->

    </div>
