@import 'mixins';

.share__profile {
    min-height: 400px;
    max-width: 420px;
    display: flex;
    flex-direction: column;

    p {
        line-height: 1.5em;
    }

    .copy-btn {
        margin-top: 2em;
        i {
            margin-right: 3px;
        }
    }
}

.share__profile__toggle {
    min-height: 36px;
    display: flex;
    align-items: flex-start;
}

@include tablet {
    .share__profile__toggle {
        align-items: center;
    }
    
    .share__profile { 
        .copy-btn {
            margin-top: 0;
            margin-left: 3em;
        }
    }
}

