<div class="slate" *ngIf="breakDownList.length > 0">
    <div class="year-breakdown show">
        <div class="header">
            <h2 class="header__title">
                By the Decades
            </h2>
        </div>    
        
        <div class="year-breakdown__container" fxLayout="column" fxLayout.gt-xs="row nowrap">
            <p 
                *ngIf="breakDownList.length === 1"
                class="decade__description">
                You're consistent! You've been listening to music from only one decade.
            </p>
            <p 
                *ngIf="breakDownList.length === 2 || breakDownList.length === 3"
                class="decade__description">
                You've been listening to music made from <strong>{{breakDownList.length}}</strong> decades.
            </p>
            <p 
                *ngIf="breakDownList.length === 4 || breakDownList.length === 5"
                class="decade__description">
                Your music taste spans generations! You've been listening to music made from <strong>{{breakDownList.length}}</strong> decades.
            </p>
            <p 
                *ngIf="breakDownList.length > 5"
                class="decade__description">
                You're a musical time traveler! You've been listening to music made from a whopping <strong>{{breakDownList.length}}</strong> decades.
            </p>
        </div>

        <div class="year-breakdown__container" fxLayout="column" fxLayout.gt-xs="row nowrap">
            <p  
                *ngIf="!currentBreakdown && allTimeBreakdown.length >= 1 && allTimeTopDecade.length > 0" 
                class="decade__description">
                Your favorite decade of music is the <strong>{{allTimeTopDecade}}s</strong>.
            </p>
            <p  
                *ngIf="currentBreakdown.length >= 1 && allTimeBreakdown.length >= 1 && currentTopDecade == allTimeTopDecade" 
                class="decade__description">
                Your favorite decade of music is the <strong>{{currentTopDecade}}s</strong>.
            </p>
            <p  
                *ngIf="currentBreakdown.length > 1 && allTimeBreakdown.length > 1 && currentTopDecade != allTimeTopDecade" 
                class="decade__description">
                Your current favorite decade of music is the <strong>{{currentTopDecade}}s</strong>, but your all-time favorite is the <strong>{{allTimeTopDecade}}s</strong>.
            </p>
        </div>

        <div class="year-breakdown__decade" fxLayout="column">
            <div class="decade__card dark-theme"  fxFlex.lt-sm="100%">

                <mat-accordion #matAccordion>
                    <mat-expansion-panel *ngFor="let breakdown of breakDownList" 
                    (opened)="panelOpenState = true"
                    (closed)="panelOpenState = false"
                    >
                      <mat-expansion-panel-header [collapsedHeight]="'60px'">
                        <mat-panel-title>
                          <h1>The {{breakdown.decade}}s</h1>
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <div fxLayout.lt-sm="row" fxLayoutGap="1em" >
                        <div class="decade" fxFlex.lt-sm="100%" fxFlex="100%" fxLayout.gt-sm="row wrap">
                            <div class="decade__tracklist" *ngFor="let track of breakdown.combinedList" fxFlex.gt-sm="50%">
                                <a [href]="this.sanitizer.bypassSecurityTrustResourceUrl(track.uri)">
                                    <img *ngIf="track.album.images.length > 1" [src]="track.album.images[1].url" width="35px" height="35px"/>
                                    <span class="decade__track-name">{{track.name}}</span>
                                    <span class="decade__track-year"> {{track.album.release_date.substring(0,4)}}</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    </mat-expansion-panel>

                </mat-accordion>
                
    
            </div>
        </div>

    
    
    </div>


</div>
