<div class="slate" >
    <div class="header">
        <h2 class="header__title">
            By the Years
        </h2>
    </div>

    <div class="decade__container" fxLayout="column" fxLayout.gt-xs="row nowrap">
        <p class="decade__description">You've been recently listening to music across {{currentBreakdown.length}} decades, but the 
            <strong>{{currentTopDecade}}s</strong> are your favorite
        </p>
        <div class="decade__card" *ngFor="let decade of currentBreakdown">
            <h3>The {{decade.decade}}s <span class="decade__trackcount">{{decade.tracks.length}} tracks</span></h3>
            <div class="decade_tracklist" *ngFor="let track of decade.tracks; let i = index">
                <span *ngIf="i < 5">
                    <img *ngIf="track.album.images.length > 1" [src]="track.album.images[1].url" width="35px" height="35px"/>
                    <span>{{track.name}}</span>
                    <span class="decade__trackyear">{{track.album.release_date.substring(0,4)}}</span>
                </span>
            </div>
        </div>
    </div>

    
    <div class="decade__container" fxLayout="column" fxLayout.gt-xs="row nowrap">
        <p class="decade__description">
            Your all-time top tracks span {{allTimeBreakdown.length}} decades, and your favorite is the <strong>{{allTimeTopDecade}}s</strong>
        </p>
        <div class="decade__card" *ngFor="let decade of allTimeBreakdown">
            <h3>The {{decade.decade}}s <span class="decade__trackcount">{{decade.tracks.length}} tracks</span></h3>
            <div class="decade_tracklist" *ngFor="let track of decade.tracks; let i = index">
                <div *ngIf="i < 5">
                    <img *ngIf="track.album.images.length > 1" [src]="track.album.images[1].url" width="35px" height="35px"/>
                    <span>{{track.name}}</span>
                    <span class="decade__trackyear"> {{track.album.release_date.substring(0,4)}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
