<div fxLayout="row" fxLayoutAlign="end center">
    <div class="obscurity__graph" fxLayout="column" fxLayoutAlign="center center" fxFlexAlign="end">
            <div class="obscurity__graph__container" fxFlexOffset="5%">
                <div class="obscurity__avg-bar" style="height: 20px;" #globalAvgBar [ngClass]="{'active': barActive}">
                    <p class="bar-value">100</p>
                    <p class="bar-title">Global Avg</p>
                </div>
                <div class="obscurity__avg-bar" style="height: 20px;" #countryAvgBar [ngClass]="{'active': barActive}">
                    <p class="bar-value">100</p>
                    <!-- <p class="bar-title">{{data.label}} Avg</p> -->
                    <p class="bar-title">Avg</p> 
                </div>
                <div class="obscurity__avg-bar" style="height: 20px;" #allTimeBar [ngClass]="{'active': barActive}">
                    <p class="bar-value">100</p>
                    <p class="bar-title">My All-Time</p>
                </div>
                
                <div class="obscurity__avg-bar" style="height: 20px;" #recentBar [ngClass]="{'active': barActive}">
                    <p class="bar-value">100</p>
                    <p class="bar-title">My Recent</p>
                </div>
            </div>
            <div class="obscurity__graph__info">
                <p>The lower your score, the more obscure your music taste is. The higher, the more relatable.</p>
                <!-- <p class="graph-info">Global Average is based on {{ data.userCount | number }} Obscurify users.</p> -->
            </div>
        </div>
</div>

    