
<div fxLayout="row" fxLayoutAlign="end center">
    <div class="obscurity__graph" fxLayout="column" fxLayoutAlign="center center" fxFlexAlign="end">
        <div class="obscurity__canvas">
            <canvas id="canvas">
                {{ histogram }}
            </canvas>
    
        </div>
        <div class="obscurity__description">
            <p>* Most Popular to Least Popular</p>
            <p>* This graph shows the popularity score for users most listened to artists.
                  The the farther you are to the right the more obscure your taste is.</p>
           </div>
    </div>



</div>






    