<div class="slate" >
    <div class="moods-graph" [ngClass]="{'show': this.show}">
        <div class="header">
            <h2 class="header__title">
                Your Moods
            </h2>
        </div>

        <div class="moods-graph__container">
            <div class="moods-graph__content">
                <h3>Happiness</h3>
                <div class="obscurity__canvas">
                    <canvas #happinessGraphElement id="happinessGraphElement">
                    </canvas>
                </div>
            </div>
        </div>

        <div class="moods-graph__container" class="moods-graph__container--right">
            <div class="moods-graph__content">
                <h3>Danceability</h3>
                <div class="obscurity__canvas">
                    <canvas #danceabilityGraphElement id="danceabilityGraphElement">
                    </canvas>
                </div>
            </div>
        </div>

        <div class="moods-graph__container">
            <div class="moods-graph__content">
                <h3>Energy</h3>
                <div class="obscurity__canvas">
                    <canvas #energyGraphElement id="energyGraphElement">
                    </canvas>
                </div>
            </div>
        </div>

        <div class="moods-graph__container" class="moods-graph__container--right">
            <div class="moods-graph__content">
                <h3>Acousticness</h3>
                <div class="obscurity__canvas">
                    <canvas #acousticnessGraphElement id="acousticnessGraphElement">
                    </canvas>
                </div>
            </div>
        </div>

    </div>
</div>
