<div class="slate" >
    <div class="moods-graph" [ngClass]="{'show': this.show}">
        <div class="header">
            <h2 class="header__title">
                Your Moods
            </h2>
        </div>

        <div class="moods-graph__container">
            <div class="moods-graph__content">
                <h3>Happiness</h3>

                <div class="moods-graph__card" fxLayout="column" fxLayout.gt-xs="row nowrap">
                  <div class="moods-graph__card__container">
                    <!-- <p class="moods-graph__card__paragraph">
                      Scores with a higher number sound more happy or cheerful,
                       while tracks with a lower number sound more sad or angry.
                    </p> -->
                    <div class="moods-graph__card__paragraph">
                        <div class="mb-1" fxLayout="row" >
                            <img [src]="happinessTrack.album.images[0].url" alt=""/>
                            <div fxLayout="column" fxLayoutAlign="center">
                                <div>Your favorite example</div>
                                <div><strong>{{happinessTrack.name}}</strong></div>
                            </div>
                        </div>
                    </div>
                    <p *ngIf="longTermAudioFeatures.happiness - shortTermAudioFeatures.happiness > 0.01" class="mb-1">
                        <strong>Your music is getting sadder or angrier 😞</strong>
                    </p>
                    <p *ngIf="longTermAudioFeatures.happiness - shortTermAudioFeatures.happiness < -0.01" class="mb-1">
                        <strong>Your music is getting happier or more cheerful 😄</strong>
                    </p>
                    <p class="moods-graph__card__paragraph">
                      <strong>Current:</strong> {{happinessCurrentText}} the {{data.country}} avg
                    </p>
                    <p class="moods-graph__card__paragraph">
                      <strong>All Time:</strong> {{happinessAllTimeText}} the {{data.country}} avg
                    </p>
                  </div>

                  <div class="moods-graph__card__container" fxLayout="row" fxLayoutAlign="center end">
                    <div class="obscurity__canvas">
                      <canvas #happinessGraphElement id="happinessGraphElement">
                      </canvas>
                    </div>
                  </div>

              </div>

            </div>
        </div>

        <div class="moods-graph__container moods-graph__container--right">
            <div class="moods-graph__content">
                <h3>Danceability</h3>

                <div class="moods-graph__card" fxLayout="column" fxLayout.gt-xs="row nowrap">
                  <div class="moods-graph__card__container">
                    <!-- <p class="moods-graph__card__paragraph">
                      Danceability is a combination of musical elements including tempo, rhythm stability, beat strength, and overall regularity.
                    </p> -->
                    <div class="moods-graph__card__paragraph">
                        <div class="mb-1" fxLayout="row" >
                            <img [src]="danceabilityTrack.album.images[0].url" alt=""/>
                            <div fxLayout="column" fxLayoutAlign="center">
                                <div>Your favorite example</div>
                                <div><strong>{{danceabilityTrack.name}}</strong></div>
                            </div>
                        </div>
                    </div>
                    <p *ngIf="longTermAudioFeatures.danceability - shortTermAudioFeatures.danceability > 0.01" class="mb-1">
                        <strong>Lately your music has been a little more off-beat 🎷</strong>
                    </p>
                    <p *ngIf="longTermAudioFeatures.danceability - shortTermAudioFeatures.danceability < -0.01" class="mb-1">
                        <strong>Lately your music has been getting dancier with a stronger beat 🕺🏼</strong>
                    </p>
                    <p class="moods-graph__card__paragraph">
                      <strong>Current:</strong> {{danceabilityCurrentText}} the {{data.country}} avg
                    </p>
                    <p class="moods-graph__card__paragraph">
                      <strong>All Time:</strong> {{danceabilityAllTimeText}} the {{data.country}} avg
                    </p>
                  </div>
                  <div class="moods-graph__card__container" fxLayout="row" fxLayoutAlign="center end">
                    <div class="obscurity__canvas">
                      <canvas #danceabilityGraphElement id="danceabilityGraphElement">
                      </canvas>
                    </div>
                  </div>
                </div>

            </div>
        </div>

        <div class="moods-graph__container">
            <div class="moods-graph__content">
                <h3>Energy</h3>

                <div class="moods-graph__card" fxLayout="column" fxLayout.gt-xs="row nowrap">
                  <div class="moods-graph__card__container">
                    <!-- <p class="moods-graph__card__paragraph">
                      Energy represents a perceptual measure of intensity and activity.
                      Typically, energetic tracks feel fast, loud, and noisy.
                    </p> -->
                    <div class="moods-graph__card__paragraph">
                        <div class="mb-1" fxLayout="row" >
                            <img [src]="energyTrack.album.images[0].url" alt=""/>
                            <div fxLayout="column" fxLayoutAlign="center">
                                <div>Your favorite example</div>
                                <div><strong>{{energyTrack.name}}</strong></div>
                            </div>
                        </div>
                    </div>
                    <p *ngIf="longTermAudioFeatures.energy - shortTermAudioFeatures.energy > 0.01" class="mb-1">
                        <strong>Your music has been getting more subtle and downtempo recently 🕶️</strong>
                    </p>
                    <p *ngIf="longTermAudioFeatures.energy - shortTermAudioFeatures.energy < -0.01" class="mb-1">
                        <strong>Your music has been getting more energetic and noisy recently ⚡</strong>
                    </p>
                    <p class="moods-graph__card__paragraph">
                      <strong>Current:</strong> {{energyCurrentText}} the {{data.country}} avg
                    </p>
                    <p class="moods-graph__card__paragraph">
                      <strong>All Time:</strong> {{energyAllTimeText}} the {{data.country}} avg
                    </p>
                  </div>

                  <div class="moods-graph__card__container" fxLayout="row" fxLayoutAlign="center end">
                    <div class="obscurity__canvas">
                      <canvas #energyGraphElement id="energyGraphElement">
                      </canvas>
                    </div>
                  </div>
                </div>
            </div>
        </div>

        <div class="moods-graph__container moods-graph__container--right">
            <div class="moods-graph__content">
                <h3>Acousticness</h3>

                <div class="moods-graph__card" fxLayout="column" fxLayout.gt-xs="row nowrap">

                  <div class="moods-graph__card__container">
                    <!-- <p class="moods-graph__card__paragraph">
                    A measure whether your music is acoustic. The higher the number the more likely you've been listening to acoustic music.
                    </p> -->
                    <div class="moods-graph__card__paragraph">
                        <div class="mb-1" fxLayout="row" >
                            <img [src]="acousticnessTrack.album.images[0].url" alt=""/>
                            <div fxLayout="column" fxLayoutAlign="center">
                                <div>Your favorite example</div>
                                <div><strong>{{acousticnessTrack.name}}</strong></div>
                            </div>
                        </div>
                    </div>
                    <p *ngIf="longTermAudioFeatures.acousticness - shortTermAudioFeatures.acousticness > 0.01" class="mb-1">
                        <strong>You haven't been into acoustic tracks as much lately 🤖</strong>
                    </p>
                    <p *ngIf="longTermAudioFeatures.acousticness - shortTermAudioFeatures.acousticness < -0.01" class="mb-1">
                        <strong>You've been into some more acoustic tracks lately 🏕️</strong>
                    </p>
                    <p class="moods-graph__card__paragraph">
                      <strong>Current:</strong> {{acousticnessCurrentText}} the {{data.country}} avg
                    </p>
                    <p class="moods-graph__card__paragraph">
                      <strong>All Time:</strong> {{acousticnessAllTimeText}} the {{data.country}} avg
                    </p>
                  </div>

                  <div class="moods-graph__card__container" fxLayout="row" fxLayoutAlign="center end">
                    <div class="obscurity__canvas">
                        <canvas #acousticnessGraphElement id="acousticnessGraphElement">
                        </canvas>
                    </div>
                  </div>
              </div>
            </div>
        </div>

    </div>
</div>
