<mat-toolbar class="toolbar">
  <div class="toolbar__container">
    <div class="left__links">
        <a mat-flat-button routerLink="/" class="toolbar__btn" aria-label="Home Link">
            Home
          </a>
          <a
            mat-flat-button
            routerLink="/blog"
            class="toolbar__btn"
            aria-label="Spotlight Link"
          >
            Spotlight
          </a>
    </div>

    <div class="right__links">
        <a mat-flat-button routerLink="/home" class="toolbar__btn" aria-label="Login Link"> Login </a>
    </div>

  </div>
</mat-toolbar>
