<header>
  <a class="back__btn" href="/blog"> <i class="fas fa-arrow-left"></i> Go back </a>

</header>

<main>
  <div class="article__header" fxLayout.lt-md="column" fxLayout="row" fxLayoutAlign=" start center" fxLayoutGap="5%">
    <div class="backdrop"></div>
    <div fxFlex="50">
      <img [src]="post.img"/>
      <p class="caption">{{ post.caption }}</p>
    </div>
    <div class="article__info">
      <p class="article__tag">{{ post.category }}</p>
      <h1>{{ post.title }}</h1>
      <p *ngIf="post.author">by {{ post.author }}</p>
      <p *ngIf="post.date"><span class="grey-text">{{ post.date }}</span></p>
      <p *ngIf="post.description" class="article__description"> {{ post.description }}</p>

      <div class="social__container" fxLayout="row" fxLayoutGap="1em">
        <a class="social__link" target=_blank rel="canonical" (click)="twitterShare()">
          <i class="fab fa-twitter" aria-hidden="true"></i>
        </a>

        <a class="social__link" (click)="facebookShare()" target="_blank">
          <i class="fab fa-facebook-f" aria-hidden="true"></i>
        </a>
        <a class="social__link" [cdkCopyToClipboard]="location" (click)="openSnackBarClipBoard()">
          <i class="far fa-copy" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="article__body" fxLayout.lt-md="column" fxLayout="row nowrap" fxLayoutGap="2em" fxLayoutAlign="center" >
    <div class="article__social" fxFlex="20%" fxHide.lt-md>
      <div class="social__container  social__container--sticky" fxLayout="column" fxLayoutGap="1em">
        <a class="social__link" target=_blank rel="canonical" (click)="twitterShare()">
          <i class="fab fa-twitter" aria-hidden="true"></i>
        </a>

        <a class="social__link" (click)="facebookShare()" target="_blank">
          <i class="fab fa-facebook-f" aria-hidden="true"></i>
        </a>
        <a class="social__link" [cdkCopyToClipboard]="location" (click)="openSnackBarClipBoard()">
          <i class="far fa-copy" aria-hidden="true"></i>
        </a>
      </div>
    </div>
    <div class="article__content" fxFlex="70%">
      <scully-content></scully-content>
      <div class="author__credit" *ngIf="post.instagram">
          Written by {{post.author}}, who you can find on
           <span *ngIf="post.website"><a [href]="'https://' + {{post.website}}">{{post.website}}</a> or on</span>
           <a href="https://www.instagram.com/{{post.instagram}}">Instagram</a>.
      </div>
    </div>

    <div class="article__extra" fxFlex="30%">
      <div class="artist__ad">
        <!-- ObscurifyMusic_S2S_Sidebar_ROS_Pos1 -->
        <div id="bsa-zone_1597164673990-7_123456"></div>
      </div>
    </div>
  </div>

  <div class="article__list">
    <div class="line-break"></div>

    <h1>More Posts</h1>

    <div class="article__list__container" fxLayout="column" fxLayout.gt-md="row wrap"  fxLayoutGap="2rem">

    <app-small-card *ngFor="let post of filteredPosts" [post]="post"></app-small-card>
    </div>

  </div>

  <div class="banner-container">
    <!-- ObscurifyMusic_S2S_Leaderboard_ROS_BTF -->
    <div id="bsa-zone_1597164587977-6_123456"></div>
  </div>

</main>


<app-footer
    [login]="true"
    [spotlight]="true"
    [about]="true"
    [privacy]="true"
    >
</app-footer>
