<nav >
    <div class="light-theme" fxLayout="row" fxLayoutAlign="end">
      <!-- <button class="share__btn" color="primary" mat-button (click)="openShareDialog()"><i class="fas fa-external-link-alt"></i> Share profile</button> -->

        <button  class="menu__btn" [matMenuTriggerFor]="appMenu">
            <span class="profile__image" *ngIf="userImage">
                <img  alt="User Image" [src]="this.userImage ? this.userImage : 'assets/images/app/profile-placeholder.png'">
            </span>
             Menu
        </button>
    </div>

    <mat-menu #appMenu="matMenu">
      <button mat-menu-item (click)="openShareDialog()">Share profile</button>
      <button mat-menu-item routerLink="/blog">Spotlight</button>
      <button mat-menu-item routerLink="/about">About</button>
      <button mat-menu-item (click)="logout()">Logout</button>
      <a  mat-menu-item href="https://www.spotify.com/us/account/apps/">Remove account</a>
    </mat-menu>
</nav>
