<footer >
  <div class="footer" fxflex="row nowrap" fxLayoutAlign="space-between center">
    <div class="footer__links" fxLayout="column nowrap">
      <a (click)="authorize()" *ngIf="login">Login</a>
      <a *ngIf="spotlight" href="/blog">Spotlight</a>
      <a href="ko-fi.com/obscurify"> Donate</a>
      <a *ngIf="about" routerLink="/about">About</a>
      <a *ngIf="privacy" routerLink="/privacy">Privacy</a>
      <a (click)="logout()" *ngIf="!login"> Log Out</a>
  </div>

  <div class="social__links" fxLayoutAlign="row nowrap" fxLayoutGap="1em">
      <a href="https://instagram.com/obscurifymusic">
        <i class="fab fa-instagram-square fa-2x"> </i>
      </a>
      <a href="https://twitter.com/obscurifymusic">
          <i class="fab fa-twitter-square fa-2x"> </i>
      </a>
      <a href="mailto:oliveroalex@gmail.com">
          <i class="fas fa-envelope-square fa-2x"></i>
      </a>
  </div>
  </div>

</footer>
