@import 'mixins';
@import 'variables';

.post-card--big {

    margin-bottom: 2em;

    img {
        width: 100%;
        max-width: 720px;
        max-height: 420px;
        object-fit: cover;

    }

    .post-card__description {
        margin-top: 1em;

        p,h2 {
            margin-bottom: 0.5rem;
        }
    }

    .tags {
        color: #6e6d7a;
        font-size: 12px;
        margin-bottom: 0;
    }
}

@include gt-md {
  h2 {
    font-size: 2.5em;
  }
  p {
    font-size: 1.5em;
  }
}

@include gt-xs {

}
