@import 'variables';
@import 'mixins';

.artist__card__stars {
    margin-top: 1em;
}

.artist__card {
    width: 50%;
    min-width: 155px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 5px 5px 4px 4px rgba(0, 0, 0, 0.3);
    color: white;
    transition: .2s cubic-bezier(.25,.1,.25,1);
    margin-bottom: 1em;

    img {
        position: absolute;
        object-fit: cover;
        width: 100%;
        transform: translateY(-50%);
        top: 50%;
    }

    &.active {
        height: 200px;
        width: 100%;
        min-width: 325px;
        .artist__card__info {
            height: 100%;
            font-size: 18px;
        }

        .artist__card__info--text {
          font-size: 18px;
        }
      }

    &__info {
        height: 60px;
        transition: .3s cubic-bezier(.25,.1,.25,1);
        position: absolute;
        width: 100%;

        background: rgba(0,0,0,.55);
        border-radius: 5px;
        bottom: 0;
        box-sizing: border-box;
        padding: 1rem 0.5rem;
        font-size: 14px;

        &--secondary, &--primary {
            transition: .2s cubic-bezier(.25,.1,.25,1);
            margin-left: 1rem;
        }

        &--primary {
            margin-bottom: 0.5em;

        }
    }

    &__info--text {
      font-size: 14px;
    }

    &__external {
        color: white;
        cursor: pointer;
    }

    button {
        margin-top: 1em;
        background: transparent;
        width: 125px;
        text-align: center;
        font-size: 12px;
        color: #fff;
        display: block;
        border-radius: 25px;
        font-weight: 700;
        margin: 1em auto 0;
        border: 2px solid $primary-color;
        padding: 1em;
        cursor: pointer;
    }
}

@include tablet {
    .artist__card {
        height: 150px;
        min-width: 220px;
        margin-bottom: 1em;
        .artist__card__info--text {
          font-size: 1rem;
        }
        &.active {
            height: 150px;
            width: 100%;
            min-width: 220px;

            .artist__card__info--text, .artist__card__info  {
              font-size: 1rem;
            }
        }

    }
}

@include desktop {
    .artist__card {
        height: 170px;
        margin-bottom: 1em;

        &__info--text, .artist__card__info  {
            font-size: 1rem;
        }

        &.active {
            height: 170px;
        }
    }

}
